<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Cabot Cruises</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="slick/slick.css" />
    <link rel="stylesheet" href="slick/slick-theme.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya:400,800"
      rel="stylesheet"
    />
  </head>

  <body onresize="resize()">
    <header>
      <div class="head">
        <img
          src="Images/logo100"
          alt="logo"
          srcset="
            Images/logo100.png 1x,
            Images/logo200.png 2x,
            Images/logo300.png 3x
          "
        />
        <h1>Cabot Cruises</h1>
        <h2>Take A Trip in Space</h2>
        <a id="phone" href="tel:1-800-555-1234">1-800-555-1234</a>
      </div>
    </header>
    <nav class="clearfix">
      <div class="topnav" id="myTopnav">
        <i class="fa fa-bars" aria-hidden="true" onclick="test()"></i>
        <ul class="" id="thisNav">
          <li><a class="active" href="">Home</a></li>
          <li><a href="#">Cruises</a></li>
          <li>
            <a href="#">Agents</a>
            <ul class="subNav">
              <li>
                <a href="">Jane</a>
                <a href="">Bobby Boy</a>
              </li>
            </ul>
          </li>
          <li><a href="#">Book</a></li>
        </ul>

        <div class="search-container">
          <input type="search" placeholder="Search..." />
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </nav>

    <!-- Start Slide -->

    <main class="clearfix">
      <div class="mySlider lead">
        <picture>
          <source srcset="Images/1-1200.jpg" media="(min-width: 29.25rem)" />
          <img src="Images/1-350.jpg" alt="" />
        </picture>

        <picture>
          <source srcset="Images/2-1200.jpg" media="(min-width: 29.25rem)" />
          <img src="Images/2-350.jpg" alt="" />
        </picture>
        <picture>
          <source srcset="Images/3-1200.jpg" media="(min-width: 29.25rem)" />
          <img src="Images/3-350.jpg" alt="" />
        </picture>
        <picture>
          <source srcset="Images/4-1200.jpg" media="(min-width: 29.25rem)" />
          <img src="Images/4-350.jpg" alt="" />
        </picture>
      </div>

      <!-- End Slide -->

      <!-- Blog Thumbnails -->

      <h2>Recent Blog Articles</h2>
      <div id="blog-container">
        <div class="thumbnails">
          <a href="#">
            <img src="Images/SpaceHotel.jpg" alt="Space Hotel" />
            <span>Luxury Suites Tour</span>
            <p>May 15th, 2020</p>
          </a>
        </div>

        <div class="thumbnails">
          <a href="#">
            <img
              src="Images/SpaceWalk.jpg"
              alt="Brad Pitt putting on space gear"
            />
            <span>Brad Pitt takes his first space walk</span>
            <p>August 8th, 2019</p>
          </a>
        </div>

        <div class="thumbnails">
          <a href="#">
            <img src="Images/Elon.jpg" alt="Elon Car in space" />
            <span>Elon Launches a car into space?</span>
            <p>Febuary 6th, 2018</p>
          </a>
        </div>

        <div class="thumbnails">
          <a href="#">
            <img src="Images/spaceDinner.jpg" alt="Space Dinner" />
            <span>Exotic Food imported into Space</span>
            <p>April 12th, 2019</p>
          </a>
        </div>
      </div>

      <!-- End Blog Thumbnails -->

      <div id="contactFoot">
        <div id="contact">
          <h2>Contact Us</h2>
          <p>NASA Headquarters</p>
          <a
            href="https://www.google.com/maps/dir/''/white+house+address/data=!4m5!4m4!1m0!1m2!1m1!1s0x89b7b7bcdecbb1df:0x715969d86d0b76bf?sa=X&ved=2ahUKEwiduOiKppjdAhXIc98KHU9mDFUQ9RcwIXoECAYQEQ"
          >
            <p>300 E Street SW</p>
            <p>Washington, DC 20500</p>
          </a>
          <h2>Phone</h2>
          <a id="phone" href="tel:1-800-598-5899">1-800-598-5899</a>
          <h2>Hours of Operation</h2>
          <p>Monday-Friday 9am-4pm</p>
        </div>
        <div id="newsLetter">
          <h2>Newsletter</h2>
          <p>
            Subscribe to our email list and stay up-to-date with our hottest
            offers and latest specials.
          </p>
          <form>
            <input type="text" required placeholder="Email" name="email" />
            <input type="submit" value="submit" name="submit" />
          </form>
        </div>
        <div id="why">
          <h2>Why Cabot Cruises</h2>
          <p>
            Cabot Cruises is a travel agency providing the best cruise deals on
            our online travel website. We can help you with all inclusive
            vacaMons including discounted cruises.
          </p>
          <p>
            We do not sell travel to residents of Delaware, Iowa, Florida,
            Hawaii and Washington state because those states are just wierd. If
            you are a resident of one of these states, call your congressman and
            tell them to change the regulaMons.
          </p>
        </div>
      </div>

      <div id="social">
        <div class="socialMedia">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </div>
        <div class="socialMedia">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="socialMedia">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </div>
        <div class="socialMedia">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="socialMedia">
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </div>
      </div>
    </main>
    <footer>
      <p>
        &copy; Aaron Price 2020 |
        <a
          href="https://medium.com/aaron-price-portfolio/bio-and-resume-573344137a4b"
          target="_blank"
          >aaron-price-portfolio</a
        >
      </p>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script src="slick/slick.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".mySlider").slick({
          autoplay: true,
          dots: true,
          arrows: false,
          cssEase: "ease-out",
          speed: 2000,
          autoplaySpeed: 10000
        });
      });
    </script>
    <script src="js/main.js"></script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "TravelAgency",
        "name": "Cabot Cruises NASA",
        "description": "Cabot Cruises is a travel agency providing the best cruise deals on our online travel website.",
        "openingHours": "Mo-Fr 09:00-16:00",
        "telephone": "+18005985899",
        "faxNumber": "+18005985899",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "3100 E Street SW",
          "addressLocality": "Washington",
          "addressRegion": "D.C."
        },
        "image": "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.forbes.com%2Fsites%2Fquora%2F2018%2F10%2F24%2Fhow-difficult-is-it-to-keep-the-space-station-warm%2F&psig=AOvVaw0zZayRXDM_LfDQZLABpV0F&ust=1582785347627000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMDblobN7ucCFQAAAAAdAAAAABAD",
        "priceRange": "$50000 to $1.2M"
      }
    </script>
  </body>
</html>
