nav {
  div {
    a {
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      float: right;
    }
  }

  .search-container {
    margin-top: 10px;
    float: right;
    width: 250px;

    input {
      width: 80%;
    }

    button {
      padding: 5px;
      float: right;
      width: 45px;
    }
  }

  i.fa-bars {
    display: none;
  }

  ul#primaryNav {
    float: none;
    width: 500px;

    li {
      width: 20%;
      float: left;

      a {
        width: 100%;
      }

      ul.subNav {
        display: none;
        float: left;

        li {
          float: none;
          display: block;
          position: absolute;
          background-color: darken($primary-color, 10%);
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          z-index: 1;
        }
      }
    }

    li:hover {
      ul.subNav {
        display: block;
      }
    }
  }
}
/*  main  */
main {
  div.thumbnails {
    width: 25%;
  }
}

#contact {
  width: 33%;
}

#newsLetter {
  width: 33%;
}

#why {
  width: 33%;
}

footer {
}
